/* /Pages/Spacewar.razor.rz.scp.css */
.arena[b-4o0tkunrgb] {
    width: 600px;
    height: 600px;
    background-color: rgb(9, 0, 59);
    position: relative;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.main[b-n9krn3689s]
{
    background: #fff;
    text-align: left;
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    padding: 80px 0 0;
}
/* /Shared/NavMenu.razor.rz.scp.css */
/* /Shared/PlayerShell.razor.rz.scp.css */
.shell[b-qbj60w8jhx]
{
    width: 4px;
    height: 4px;
    position: absolute;
    color: antiquewhite;
}

.shell *[b-qbj60w8jhx]
{
    max-width: 4px !important;
    max-height: 4px !important;
}
/* /Shared/PlayerShip.razor.rz.scp.css */
.ship[b-4z14ukkxyp]
{
    width: 10px;
    height: 10px;
    position: absolute;
    color: aliceblue;
}
