@inherits LayoutComponentBase

<div class="page">
    <MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>
    <NavMenu />

    <div class="main">
        <section>
            <div>
                @Body
            </div>
        </section>

    </div>
</div>
